In [3]:
x = "amie"
print(x[0:-1])

ami

# to know the location of a value in a str use .index bfore variable

In [4]:
x.index('a')

0

In [5]:
p = ["amie", "janet", "suan", "ayo", "bola"]
index_val = p.index("ayo")
y_val = p[index_val+1:]
print(y_val)

['bola']

In [6]:
p[:index_val]

['amie', 'janet', 'suan']

In [35]:
d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola", "joy"]
count_avg = int(len(d)/2)
new_cont_avg = count_avg - 1
print(count_avg)
print(new_cont_avg)


if len(d)%2 != 0:
    print(d[count_avg])

else:
     print(f"{count_avg} and {new_cont_avg}")

4
3
4 and 3

In [36]:
if len(d)%2 != 0:
    print(d[count_avg])

else:
    med_val = d[count_avg]
    val_med = d[new_cont_avg]
    print(f"{med_val} and {val_med}")

angel and funmi

# For Loops

In [40]:
arr1 = [3, 6, "jane", "bella"]
arr2 = ["tola", "madu"]
# to append arr2 inside arr1

for i in arr2:
    arr1.append(i)
print(arr1)

[3, 6, 'jane', 'bella', 'tola', 'madu']

In [41]:
# without for loops
arr1 + arr2

[3, 6, 'jane', 'bella', 'tola', 'madu', 'tola', 'madu']

In [7]:
# i would like to grt names starting with r
# firstly, i create an empty to append the new names
# and the search for the index in my list that begins with r

array1 = ["teni", "tiwa", "tems", "rihanna"]
r_names = []

for i in array1:
    if i[0] == "r":
        r_names.append(i)
print(r_names)

['rihanna']

In [56]:
# to capitalise each of the first letters in the list
array_names = ["jacob", "obi", "moses", "victor"]
new_names = []
for i in array_names:
    cap = i[0].upper() + i[1:]
    new_names.append(cap)
print(new_names)

['Jacob', 'Obi', 'Moses', 'Victor']

In [64]:
# to concatenate array1 and array_names we use a range function from zero to the length(len) of 
# the array name  we want to join on
names = []
for i in range(0, len(array1)):
    full_names = f"{array1[i]} {array_names[i]}"
    names.append(full_names)
print(names)

['teni jacob', 'tiwa obi', 'tems moses', 'rihanna victor']

# to select values with sames data type from a list contain differnt data types

In [67]:
ele = ["hannah", "shalom", 10, 15, "design"]

for i in ele:
    if type(i) == str:
        print(i)

hannah
shalom
design

### or use the isinstance(i, str)

In [79]:
ele = ["hannah", "shalom", 10, 15, "design"]

for i in ele:
    k = isinstance(i, str)
    if k == True:
        print(i)

hannah
shalom
design

In [80]:
ele = ["hannah", "shalom", 10, 15, "design"]

for i in ele:
    k = isinstance(i, int)
    if k == True:
        print(i)

10
15

In [99]:
d = ["juan", 10, "mitchel", "funmi", "angel", "ada", "lola", "joy"]
new_d =[]

for i in d:
    if type(i) == str:
        new_d.append(i)
print(new_d)
 
if len(new_d) == len(d):
    print("They are all strings")
else:
    print("They are not all strings")

['juan', 'mitchel', 'funmi', 'angel', 'ada', 'lola', 'joy']
They are not all strings